
/*Estilos de la cabecera*/

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
  }

  div.container{
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-columns: 16% 84%;
	grid-template-rows: 70px auto;
	grid-template-areas: 
	"cabecera cabecera"
	"navegacion contenido"
	"navegacion contenido";
}


.header {
	height: 70px;
	text-align: right;
    background-color: lightblue;
	align-items: center;
	justify-content: space-between;
	display: flex;
	position: fixed; 
	width: 100%; 
	z-index: 100;
	grid-area: cabecera;
}


header div.info_session{
	padding-right: 100px;
	width: 50px;
	padding-bottom: 20px;
	font-size: 20px;
	display: inline-flex;
	text-align: center;
	
}

header div.contenedor_texto {
	display: inline-flex;
	padding-right: 20%;
}


/*Estilos del menu de navegacion*/ 

.sidebar {
	background-color: lightgreen;
	float: left;
	min-width: 200px;
	width: 14%; 
	min-height: 100vh;
	position: fixed;
	grid-area: navegacion;
}

dl.opciones {

	position: relative; 
	top: 100px; 
}

dt  details  summary {
    list-style: none; /* Elimina la lista de estilos, incluida la flecha */
    cursor: pointer; /* Mantiene el cursor como puntero para indicar que se puede hacer clic */
    padding-left: 2rex; /* Espacio para el marcador personalizado */
  }
dt   details  summary::before {
    content: "\2630"; /* Marcador personalizado */
  }


/*Contenido principal de la pagina*/


main {
	width: 100%;
	background-color: lightgray;
	grid-area: contenido;
	display: grid;
	grid-auto-columns: 30% 25% 25% 20% ; 
	grid-auto-rows: minmax(25px, auto);
}


.texto_infor{
	grid-column-start: 2 ;
	grid-row-start: 1;
}

div#mensaje_bienvenida{
	grid-column-start: 2;
	grid-row-start: 2;
}

/*Estilo de los post*/ 

section.listaPost{
	
	grid-column-start: 2;
	grid-row-start: 4;
	display: flex;
	flex-direction: column;
}

/*
	background-color: lightgray; 
	width: 500px; 
	height: 100%;
	margin-bottom: 3em;
	background-color: #fff;
	border: 1px solid #e1e8ed;
	padding: 20px;
	border-radius: 10px;	
*/
article.estiloPost {
	background-color: lightgray; 
	width: 100%; 
	height: 100%;
	margin-bottom: 3em;
}

div.user_info {
	display: flex; 
}

/*Referente al estilo de los formularios*/ 

section.formulario_style{
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 2;
	display: flex; 
	flex-direction: column;
	width: 300px;
}


fieldset legend {
	text-align: center;
}

fieldset.formRegistro {
	background-color: lightgray;
}

button  {
	background-color: lightgreen;
}


/*Footer de la pagina (sin usar) */ 
.footer{
	background-color: lightseagreen;
}